doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    title Edit User
  body 

    if user_session
      .header
        .container-fluid.bg-dark.text-white.py-3
          .row.align-items-center
            .col-sm-3
              a(href="/users/", class="btn btn-primary" , style="width: 45%;") Home
            .col-sm-6.center
              h1.mb-0.center Modification d'information d'utilisateur
            .col-sm-3.text-end
              a(href="/register/logout", class="btn btn-primary" , style="width: 45%;") Logout

      div(class="container mt-5")
        form(action=`/users/edit/${user._id}?_method=PUT` method="post") 
          div(class="mb-3")
            label(class="form-label",for="nom") Nom: 
            input(class="form-control",type="text", name="nom", value= `${user.nom}` ) 
          div(class="mb-3") 
            label(class="form-label",for="email") Email: 
            input(class="form-control",type="email", name="email", value= `${user.email}`)
          .col-sm-16.text-center
            input(class="btn btn-primary", type="submit", value="Modifier" , style="width: 50%;")
    
    else 
      .header
        .container-fluid.bg-dark.text-white.py-3
          .row.align-items-center
            .col-sm-3
              a(href="/users/", class="btn btn-primary" , style="width: 45%;") Home
            .col-sm-6.center
              h1.mb-0 Modification d'information d'utilisateur
            .col-sm-3.text-end
              a(href="/register/login", class="btn btn-primary" , style="width: 45%;") Login 

      h1(style="color:#000") Vous n'avez pas l'accées pour modifier les informations d'un utilisateur

    script(src='/js/bootstrap.bundle.min.js') 