doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/add.css') 
    title Login
  body 

    .header
      .container-fluid.bg-dark.text-white.py-3
        .row.align-items-center
          .col-sm-8
            h1.mb-0 Login
          .col-sm-4.text-end
            a(href="/register/", class="btn btn-primary" , style="width: 45%;") Register
            
    div(class="container mt-5")
      form(action="/register/login", method="post") 
        div(class="mb-3") 
          label(class="form-label", for="email") Email: 
          input(class="form-control", type="email", name="email")
        div(class="mb-3") 
          label(class="form-label",for="password") Mot de passe: 
          input(class="form-control",type="password", name="password")
        
        .row.align-items-center
          .col-sm-8
            input(class="btn btn-primary", type="submit", value="Login" , style="width: 50%;")
          .col-sm-4.text-end
              p(style="font-family: 'Arial', sans-serif;font-size: 16px;color: #333;margin-bottom: 10px;") Vous avez pas un compte?
                a(href='/register', style="text-decoration: none;color: #007BFF;font-weight: bold;transition: color 0.3s ease;") Inscrivez-vous ici
        
        if message_err
          h3 #{message_err} 

    script(src='/js/bootstrap.bundle.min.js') 